@import "tailwindcss";

@theme {
  --font-montserrat: var(--font-montserrat);
  --color-brand-dark: #050505;
  --color-brand-purple: #9D50FF;
}

body {
  background: radial-gradient(circle at 50% -20%, #1a1a2e 0%, #050505 80%) no-repeat fixed;
  color: white;
  min-height: 100vh;
  font-family: var(--font-montserrat), sans-serif;
  overflow-x: hidden; /* Критично важно, чтобы не было скролла */
}

.text-gradient {
  background: linear-gradient(90deg, #FF3BFF 0%, #ECBFBF 33%, #5C24FF 66%, #D94FD5 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}

/* Эффект стекла для карточек снизу */
.glass {
  background: rgba(255, 255, 255, 0.02);
  backdrop-filter: blur(12px);
  border: 1px solid rgba(255, 255, 255, 0.05);
  transition: all 0.5s ease;
}